Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-oncall

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend
/docs @grafana/docs-oncall

incident -> alert groups
  engine/apps/slack/tasks.py
Owners: @grafana/grafana-oncall-backend

Add changes to api and docs
  CHANGELOG.md
  docs/sources/oncall-api-reference/routes.md
  engine/apps/public_api/serializers/routes.py
Owners: @grafana/docs-oncall, @grafana/grafana-oncall-backend

Edit test_routes.py
  engine/apps/public_api/tests/test_routes.py
Owners: @grafana/grafana-oncall-backend

Edit test_routes.py
  engine/apps/public_api/tests/test_routes.py
Owners: @grafana/grafana-oncall-backend

merge fix
  grafana-plugin/src/containers/EscalationChainSteps/EscalationChainSteps.tsx
  grafana-plugin/src/pages/schedule/Schedule.tsx
Owners: @grafana/grafana-oncall-frontend

Jinja2 based routes (#1319)
  CHANGELOG.md
  docs/sources/escalation-policies/configure-routes/index.md
  docs/sources/get-started/_index.md
  docs/sources/integrations/_index.md
  docs/sources/integrations/available-integrations/configure-alertmanager/index.md
  docs/sources/integrations/available-integrations/configure-grafana-alerting/index.md
  docs/sources/integrations/available-integrations/configure-webhook/index.md
  docs/sources/integrations/available-integrations/configure-zabbix/index.md
  docs/sources/integrations/chatops-integrations/configure-teams/index.md
  docs/sources/oncall-api-reference/routes.md
  engine/apps/alerts/migrations/0010_channelfilter_filtering_term_type.py
  engine/apps/alerts/models/alert.py
  engine/apps/alerts/models/channel_filter.py
  engine/apps/alerts/tests/test_channel_filter.py
  engine/apps/api/serializers/channel_filter.py
  engine/apps/public_api/serializers/routes.py
  engine/apps/public_api/tests/test_routes.py
  engine/requirements.txt
  grafana-plugin/README.md
  grafana-plugin/integration-tests/utils/integrations.ts
  grafana-plugin/src/containers/AlertReceiveChannelCard/AlertReceiveChannelCard.tsx
  grafana-plugin/src/containers/AlertRules/AlertRules.module.css
  grafana-plugin/src/containers/AlertRules/AlertRules.tsx
  grafana-plugin/src/containers/ChannelFilterForm/ChannelFilterForm.tsx
  grafana-plugin/src/containers/GSelect/GSelect.tsx
  grafana-plugin/src/containers/IncidentMatcher/IncidentMatcher.tsx
  grafana-plugin/src/models/channel_filter/channel_filter.types.ts
  grafana-plugin/src/pages/escalation-chains/EscalationChains.module.css
  grafana-plugin/src/pages/escalation-chains/EscalationChains.tsx
  grafana-plugin/src/pages/incident/Incident.tsx
  grafana-plugin/src/pages/integrations/Integrations.module.css
  grafana-plugin/src/pages/integrations/Integrations.tsx
Owners: @grafana/docs-oncall, @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

add unique idx on user column in mobile_app_mobileappauthtoken table
  engine/apps/mobile_app/migrations/0002_alter_mobileappauthtoken_user.py
  engine/apps/mobile_app/models.py
  engine/apps/mobile_app/tests/test_mobile_app_auth_token.py
  engine/conftest.py
Owners: @grafana/grafana-oncall-backend

update CHANGELOG
  CHANGELOG.md
Owners: none

differentiate info <> warning comments
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.tsx
  grafana-plugin/src/models/schedule/schedule.types.ts
Owners: @grafana/grafana-oncall-frontend

remove mobile app feature flag
  engine/apps/api/tests/test_features.py
  engine/apps/api/views/features.py
  engine/apps/mobile_app/tests/test_fcm_relay.py
  engine/conftest.py
  engine/engine/urls.py
  engine/settings/base.py
  grafana-plugin/src/containers/UserSettings/UserSettings.tsx
  grafana-plugin/src/containers/UserSettings/parts/connectors/MobileAppConnector.tsx
  grafana-plugin/src/pages/settings/tabs/Cloud/CloudPage.tsx
  grafana-plugin/src/state/features.ts
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

update changelog
  CHANGELOG.md
Owners: none

remove mobile app feature flag (#1484)
  CHANGELOG.md
  engine/apps/api/tests/test_features.py
  engine/apps/api/views/features.py
  engine/apps/mobile_app/tests/test_fcm_relay.py
  engine/conftest.py
  engine/engine/urls.py
  engine/settings/base.py
  grafana-plugin/src/containers/UserSettings/UserSettings.tsx
  grafana-plugin/src/containers/UserSettings/parts/connectors/MobileAppConnector.tsx
  grafana-plugin/src/pages/settings/tabs/Cloud/CloudPage.tsx
  grafana-plugin/src/state/features.ts
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

Hide edit button for default route
  grafana-plugin/src/containers/AlertRules/AlertRules.tsx
Owners: @grafana/grafana-oncall-frontend

Hide edit button for default route (#1485)
  grafana-plugin/src/containers/AlertRules/AlertRules.tsx
Owners: @grafana/grafana-oncall-frontend

a few display changes
  grafana-plugin/src/components/ScheduleQuality/ScheduleQuality.tsx
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.module.scss
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.tsx
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityProgressBar.module.scss
  grafana-plugin/src/models/schedule/schedule.types.ts
  grafana-plugin/src/pages/schedule/Schedule.tsx
Owners: @grafana/grafana-oncall-frontend

semi-bold
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.module.scss
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.tsx
Owners: @grafana/grafana-oncall-frontend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Release oncall Helm chart 1.1.34
  helm/oncall/Chart.yaml
Owners: @grafana/grafana-oncall-backend

FIx insight_logs for mobile app backend
  engine/apps/alerts/models/channel_filter.py
  engine/common/insight_log/chatops_insight_logs.py
Owners: @grafana/grafana-oncall-backend

remove any possible mobileappauthtoken duplicate rows
  engine/apps/mobile_app/migrations/0002_alter_mobileappauthtoken_user.py
Owners: @grafana/grafana-oncall-backend

add unique idx on user column in mobileapp authtoken table (#1482)
  CHANGELOG.md
  engine/apps/mobile_app/migrations/0002_alter_mobileappauthtoken_user.py
  engine/apps/mobile_app/models.py
  engine/apps/mobile_app/tests/test_mobile_app_auth_token.py
  engine/conftest.py
Owners: @grafana/grafana-oncall-backend

FIx insight_logs for mobile app backend (#1498)
  engine/apps/alerts/models/channel_filter.py
  engine/common/insight_log/chatops_insight_logs.py
Owners: @grafana/grafana-oncall-backend

show no notification policies warning in paged users
  grafana-plugin/src/pages/incident/parts/PagedUsers.tsx
Owners: @grafana/grafana-oncall-frontend

Email sending fails if there is a \n
  engine/apps/email/alert_rendering.py
Owners: @grafana/grafana-oncall-backend

Changelog update for 81244
  CHANGELOG.md
Owners: none

changes in progress
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.module.scss
  grafana-plugin/src/components/ScheduleQualityDetails/ScheduleQualityDetails.tsx
Owners: @grafana/grafana-oncall-frontend

Fix involved users filter, add missing test
  CHANGELOG.md
  engine/apps/api/tests/test_alert_group.py
  engine/apps/api/views/alert_group.py
Owners: @grafana/grafana-oncall-backend

Fix involved users filter, add missing test (#1500)
  CHANGELOG.md
  engine/apps/api/tests/test_alert_group.py
  engine/apps/api/views/alert_group.py
Owners: @grafana/grafana-oncall-backend

Correction for 81244 as per PR 1499
  engine/apps/email/alert_rendering.py
Owners: @grafana/grafana-oncall-backend

Correction for 81244 as per PR 1499
  CHANGELOG.md
Owners: none

Adding missing end statement
  helm/oncall/templates/_env.tpl
Owners: @grafana/grafana-oncall-backend

Correction for 81244 as per PR 1499
  CHANGELOG.md
Owners: none

grafana ticketing 81244 : Emails fails if the alert title has a newline char (#1499)
  CHANGELOG.md
  engine/apps/email/alert_rendering.py
Owners: @grafana/grafana-oncall-backend

Add test for newlines in email subject
  engine/apps/email/tests/test_notify_user.py
Owners: @grafana/grafana-oncall-backend

Rename Incident to Alert Group
  engine/apps/slack/scenarios/alertgroup_appearance.py
  engine/apps/slack/scenarios/distribute_alerts.py
Owners: @grafana/grafana-oncall-backend

Add test for newlines in email subject (#1510)
  engine/apps/email/tests/test_notify_user.py
Owners: @grafana/grafana-oncall-backend

Fix linting
  docs/sources/get-started/_index.md
Owners: @grafana/docs-oncall
