Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-gops, @jdbaldry

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend

/docs @grafana/docs-gops

# `make docs` procedure is owned by @jdbaldry of @grafana/docs-squad.
/.github/workflows/update-make-docs.yml @jdbaldry
/.github/workflows/publish-technical-documentation-next.yml @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml @jdbaldry
/docs/Makefile @jdbaldry
/docs/docs.mk @jdbaldry
/docs/make-docs @jdbaldry
/docs/variables.mk @jdbaldry

review fixes
  grafana-plugin/integration-tests/users/usersActions.test.ts
Owners: @grafana/grafana-oncall-frontend

slight improvement on the chatops missing features banner
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.test.tsx
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

cleanup
  grafana-plugin/src/jest/utils.ts
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.test.tsx
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

changelog
  CHANGELOG.md
Owners: none

support comma and space delimited grafana feature_toggles
  engine/apps/grafana_plugin/helpers/client.py
  engine/apps/grafana_plugin/tests/test_gcom_api_client.py
Owners: @grafana/grafana-oncall-backend

update changelog
  CHANGELOG.md
Owners: none

Alert with information has been added to chatOPs tab (#2566)
  CHANGELOG.md
  grafana-plugin/src/jest/utils.ts
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

Remove delays when plugin is loaded
  engine/apps/auth_token/auth.py
  engine/apps/grafana_plugin/views/status.py
  engine/apps/grafana_plugin/views/sync.py
  grafana-plugin/src/plugin/GrafanaPluginRootPage.tsx
  grafana-plugin/src/plugin/PluginSetup/index.tsx
  grafana-plugin/src/state/plugin/index.ts
  grafana-plugin/src/state/rootBaseStore/index.ts
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

Use set literal for INTEGRATION_TYPES
  engine/apps/alerts/integration_options_mixin.py
Owners: @grafana/grafana-oncall-backend

Add migrate endpoint for integration
  engine/apps/api/views/alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

added all queries to incident page (#2605)
  grafana-plugin/src/pages/incident/Incident.tsx
  grafana-plugin/src/pages/incidents/Incidents.tsx
Owners: @grafana/grafana-oncall-frontend

support comma and space delimited grafana feature_toggles (#2623)
  CHANGELOG.md
  engine/apps/grafana_plugin/helpers/client.py
  engine/apps/grafana_plugin/tests/test_gcom_api_client.py
Owners: @grafana/grafana-oncall-backend

remove call_ack_url
  engine/apps/alerts/models/alert_group.py
  engine/apps/alerts/tasks/__init__.py
  engine/apps/alerts/tasks/call_ack_url.py
  engine/apps/alerts/utils.py
  engine/apps/webhooks/models/webhook.py
  engine/apps/webhooks/tests/test_webhook.py
  engine/apps/webhooks/utils.py
  engine/settings/prod_without_db.py
Owners: @grafana/grafana-oncall-backend

remove deprecated call_ack_url celery task (#2545)
  engine/apps/alerts/models/alert_group.py
  engine/apps/alerts/tasks/__init__.py
  engine/apps/alerts/tasks/call_ack_url.py
  engine/apps/alerts/utils.py
  engine/apps/webhooks/models/webhook.py
  engine/apps/webhooks/tests/test_webhook.py
  engine/apps/webhooks/utils.py
  engine/settings/prod_without_db.py
Owners: @grafana/grafana-oncall-backend

remove excess alerts_alert table save
  engine/apps/alerts/models/alert.py
Owners: @grafana/grafana-oncall-backend
