Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-gops, @jdbaldry

minor doc update
  docs/sources/integrations/manual/index.md
Owners: @grafana/docs-gops

Minor direct paging docs update (#2607)
  docs/sources/integrations/manual/index.md
Owners: @grafana/docs-gops

Check original webhook for sensitive fields when copying
  engine/apps/api/serializers/webhook.py
  engine/apps/api/tests/test_webhooks.py
Owners: @grafana/grafana-oncall-backend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix tests
  engine/apps/api/tests/test_webhooks.py
Owners: @grafana/grafana-oncall-backend

Fix tests
  engine/apps/api/tests/test_webhooks.py
Owners: @grafana/grafana-oncall-backend

remove time_zone field + enforce that clients always specify timezone in swap_start and swap_end fields.
  engine/apps/api/serializers/schedule_calendar.py
  engine/apps/api/serializers/schedule_web.py
  engine/apps/api/serializers/shift_swap.py
  engine/apps/api/serializers/user.py
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/public_api/serializers/on_call_shifts.py
  engine/apps/public_api/serializers/schedules_calendar.py
  engine/apps/public_api/serializers/schedules_web.py
  engine/apps/shift_swaps/migrations/0001_initial.py
  engine/apps/shift_swaps/models/shift_swap_request.py
  engine/apps/shift_swaps/tests/test_shift_swap_request.py
  engine/common/api_helpers/custom_fields.py
  engine/common/tests/test_custom_fields.py
  engine/common/tests/test_timezones.py
  engine/common/timezones.py
Owners: @grafana/grafana-oncall-backend

Fix tests
  engine/apps/api/tests/test_webhooks.py
Owners: @grafana/grafana-oncall-backend

Check original webhook for sensitive fields when copying (#2608)
  CHANGELOG.md
  engine/apps/api/serializers/webhook.py
  engine/apps/api/tests/test_webhooks.py
Owners: @grafana/grafana-oncall-backend

fix import for TimeZoneField
  engine/apps/mobile_app/serializers.py
Owners: @grafana/grafana-oncall-backend

update docstrings
  engine/apps/shift_swaps/models/shift_swap_request.py
Owners: @grafana/grafana-oncall-backend

update tests
  engine/apps/api/tests/test_shift_swaps.py
  engine/settings/ci-test.py
Owners: @grafana/grafana-oncall-backend

Add filter integrations by type
  engine/apps/api/views/alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

add RBAC related attributes to org/current user endpoint response schemas
  CHANGELOG.md
  engine/apps/api/serializers/organization.py
  engine/apps/api/serializers/user.py
  engine/apps/api/views/organization.py
Owners: @grafana/grafana-oncall-backend

Add filter integrations by type (#2609)
  CHANGELOG.md
  engine/apps/api/views/alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

Update `make docs` procedure
  docs/make-docs
Owners: @jdbaldry

finish testing
  engine/apps/api/serializers/user.py
  engine/apps/api/tests/test_organization.py
  engine/apps/api/tests/test_user.py
  engine/apps/api/views/user.py
Owners: @grafana/grafana-oncall-backend

update changelog
  CHANGELOG.md
Owners: none

remove logging statements
  engine/apps/api/views/user.py
Owners: @grafana/grafana-oncall-backend

fix failing CI test
  engine/apps/api/tests/test_user.py
Owners: @grafana/grafana-oncall-backend

simplify exceptions
  engine/apps/alerts/models/alert_receive_channel.py
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/tests/test_alert_receive_channel.py
  engine/apps/public_api/serializers/integrations.py
  engine/apps/public_api/tests/test_integrations.py
  engine/common/api_helpers/exceptions.py
Owners: @grafana/grafana-oncall-backend

Improve APIs for creating/updating direct paging integrations (#2603)
  CHANGELOG.md
  engine/apps/alerts/models/alert_receive_channel.py
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/tests/test_alert_receive_channel.py
  engine/apps/api/views/alert_receive_channel.py
  engine/apps/public_api/serializers/integrations.py
  engine/apps/public_api/tests/test_integrations.py
Owners: @grafana/grafana-oncall-backend

direct paging docs fmt
  docs/sources/integrations/manual/index.md
Owners: @grafana/docs-gops

Update download app text (#2379)
  grafana-plugin/src/containers/MobileAppConnection/__snapshots__/MobileAppConnection.test.tsx.snap
  grafana-plugin/src/containers/MobileAppConnection/parts/DownloadIcons/__snapshots__/DownloadIcons.test.tsx.snap
  grafana-plugin/src/containers/MobileAppConnection/parts/DownloadIcons/index.tsx
Owners: @grafana/grafana-oncall-frontend

add a couple of tests for users screen
  grafana-plugin/integration-tests/users/usersActions.test.ts
  grafana-plugin/src/pages/users/Users.tsx
Owners: @grafana/grafana-oncall-frontend

refactor teamStore to organizationStore
  Makefile
  engine/apps/api/tests/test_organization.py
  engine/apps/api/urls.py
  grafana-plugin/src/components/ScheduleUserDetails/ScheduleUserDetails.tsx
  grafana-plugin/src/containers/AlertRules/parts/connectors/SlackConnector.tsx
  grafana-plugin/src/containers/AlertRules/parts/index.tsx
  grafana-plugin/src/containers/Alerts/Alerts.tsx
  grafana-plugin/src/containers/DefaultPageLayout/DefaultPageLayout.helpers.tsx
  grafana-plugin/src/containers/EscalationChainSteps/EscalationChainSteps.tsx
  grafana-plugin/src/containers/PersonalNotificationSettings/PersonalNotificationSettings.tsx
  grafana-plugin/src/containers/UserSettings/UserSettings.tsx
  grafana-plugin/src/containers/UserSettings/parts/connectors/SlackConnector.tsx
  grafana-plugin/src/containers/UserSettings/parts/tabs/PhoneVerification/PhoneVerification.tsx
  grafana-plugin/src/containers/UserSettings/parts/tabs/TelegramInfo/TelegramInfo.tsx
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.ts
  grafana-plugin/src/models/base_store.ts
  grafana-plugin/src/models/organization/organization.ts
  grafana-plugin/src/models/organization/organization.types.ts
  grafana-plugin/src/models/team/team.ts
  grafana-plugin/src/models/user/user.types.ts
  grafana-plugin/src/pages/integration/Integration.helper.ts
  grafana-plugin/src/pages/settings/tabs/ChatOps/tabs/SlackSettings/SlackSettings.tsx
  grafana-plugin/src/pages/settings/tabs/ChatOps/tabs/TelegramSettings/TelegramSettings.tsx
  grafana-plugin/src/pages/settings/tabs/MainSettings/MainSettings.tsx
  grafana-plugin/src/pages/users/Users.tsx
  grafana-plugin/src/state/rootBaseStore/index.ts
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

undo change to makefile
  Makefile
Owners: @grafana/grafana-oncall-backend

update comment
  engine/apps/api/urls.py
Owners: @grafana/grafana-oncall-backend

Remove unnecessary team checks (#2606)
  CHANGELOG.md
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/routes.py
  engine/apps/public_api/serializers/schedules_calendar.py
  engine/apps/public_api/serializers/schedules_web.py
  terraform/README.md
Owners: @grafana/grafana-oncall-backend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Release oncall Helm chart 1.3.16
  helm/oncall/Chart.yaml
Owners: @grafana/grafana-oncall-backend

add rbac_permissions to current-user response + rbac_enabled to current-org response (#2611)
  CHANGELOG.md
  engine/apps/api/serializers/organization.py
  engine/apps/api/serializers/user.py
  engine/apps/api/tests/test_organization.py
  engine/apps/api/tests/test_user.py
  engine/apps/api/urls.py
  engine/apps/api/views/organization.py
  engine/apps/api/views/user.py
  grafana-plugin/src/components/ScheduleUserDetails/ScheduleUserDetails.tsx
  grafana-plugin/src/containers/AlertRules/parts/connectors/SlackConnector.tsx
  grafana-plugin/src/containers/AlertRules/parts/index.tsx
  grafana-plugin/src/containers/Alerts/Alerts.tsx
  grafana-plugin/src/containers/DefaultPageLayout/DefaultPageLayout.helpers.tsx
  grafana-plugin/src/containers/EscalationChainSteps/EscalationChainSteps.tsx
  grafana-plugin/src/containers/PersonalNotificationSettings/PersonalNotificationSettings.tsx
  grafana-plugin/src/containers/UserSettings/UserSettings.tsx
  grafana-plugin/src/containers/UserSettings/parts/connectors/SlackConnector.tsx
  grafana-plugin/src/containers/UserSettings/parts/tabs/PhoneVerification/PhoneVerification.tsx
  grafana-plugin/src/containers/UserSettings/parts/tabs/TelegramInfo/TelegramInfo.tsx
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.ts
  grafana-plugin/src/models/base_store.ts
  grafana-plugin/src/models/organization/organization.ts
  grafana-plugin/src/models/organization/organization.types.ts
  grafana-plugin/src/models/team/team.ts
  grafana-plugin/src/models/user/user.types.ts
  grafana-plugin/src/pages/integration/Integration.helper.ts
  grafana-plugin/src/pages/settings/tabs/ChatOps/tabs/SlackSettings/SlackSettings.tsx
  grafana-plugin/src/pages/settings/tabs/ChatOps/tabs/TelegramSettings/TelegramSettings.tsx
  grafana-plugin/src/pages/settings/tabs/MainSettings/MainSettings.tsx
  grafana-plugin/src/pages/users/Users.tsx
  grafana-plugin/src/state/rootBaseStore/index.ts
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

PR comments
  engine/apps/api/serializers/shift_swap.py
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/api/views/shift_swap.py
  engine/apps/schedules/exceptions.py
  engine/apps/schedules/migrations/0014_shiftswaprequest.py
  engine/apps/schedules/models/__init__.py
  engine/apps/schedules/models/shift_swap_request.py
  engine/apps/schedules/tests/factories.py
  engine/apps/schedules/tests/test_shift_swap_request.py
  engine/apps/shift_swaps/__init__.py
  engine/apps/shift_swaps/migrations/__init__.py
  engine/apps/shift_swaps/models/__init__.py
  engine/apps/shift_swaps/tasks.py
  engine/apps/shift_swaps/tests/__init__.py
  engine/apps/shift_swaps/tests/factories.py
  engine/conftest.py
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend

shift swap requests model + CRUD endpoints (#2597)
  Makefile
  engine/apps/api/permissions.py
  engine/apps/api/serializers/schedule_calendar.py
  engine/apps/api/serializers/schedule_web.py
  engine/apps/api/serializers/shift_swap.py
  engine/apps/api/serializers/user.py
  engine/apps/api/tests/test_permissions.py
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/api/urls.py
  engine/apps/api/views/shift_swap.py
  engine/apps/mobile_app/serializers.py
  engine/apps/public_api/serializers/on_call_shifts.py
  engine/apps/public_api/serializers/schedules_calendar.py
  engine/apps/public_api/serializers/schedules_web.py
  engine/apps/schedules/exceptions.py
  engine/apps/schedules/migrations/0014_shiftswaprequest.py
  engine/apps/schedules/models/__init__.py
  engine/apps/schedules/models/shift_swap_request.py
  engine/apps/schedules/tests/factories.py
  engine/apps/schedules/tests/test_shift_swap_request.py
  engine/apps/webhooks/__init__.py
  engine/common/api_helpers/custom_fields.py
  engine/common/tests/test_custom_fields.py
  engine/common/tests/test_ordered_model.py
  engine/common/tests/test_timezones.py
  engine/common/timezones.py
  engine/conftest.py
  engine/settings/base.py
  engine/settings/ci-test.py
Owners: @grafana/grafana-oncall-backend

Helm migrate job - support custom annotations
  helm/oncall/templates/engine/job-migrate.yaml
  helm/oncall/tests/migrate_annotations_test.yaml
  helm/oncall/values.yaml
Owners: @grafana/grafana-oncall-backend

ban django.apps.apps
  engine/apps/grafana_plugin/tests/test_app_config.py
  engine/tox.ini
Owners: @grafana/grafana-oncall-backend

Update `make docs` procedure
  docs/make-docs
Owners: @jdbaldry

First pass on AlertManager v2
  engine/apps/alerts/integration_options_mixin.py
  engine/apps/alerts/models/alert_receive_channel.py
  engine/apps/alerts/tests/test_alert_receiver_channel.py
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/views/alert_receive_channel.py
  engine/apps/integrations/metadata/heartbeat/__init__.py
  engine/apps/integrations/metadata/heartbeat/alertmanager.py
  engine/apps/integrations/metadata/heartbeat/legacy_alertmanager.py
  engine/apps/integrations/templates/heartbeat_instructions/legacy_alertmanager.html
  engine/apps/integrations/templates/html/integration_legacy_alertmanager.html
  engine/apps/integrations/templates/html/integration_legacy_grafana_alerting.html
  engine/apps/integrations/tests/test_legacy_am.py
  engine/apps/integrations/urls.py
  engine/apps/integrations/views.py
  engine/apps/public_api/serializers/integrations.py
  engine/apps/public_api/tests/test_integrations.py
  engine/config_integrations/alertmanager.py
  engine/config_integrations/alertmanager_v2.py
  engine/config_integrations/grafana.py
  engine/config_integrations/grafana_alerting.py
  engine/config_integrations/legacy_alertmanager.py
  engine/config_integrations/legacy_grafana_alerting.py
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend

Introduce legacy_prefix package
  engine/apps/alerts/models/alert_receive_channel.py
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/views/alert_receive_channel.py
  engine/apps/integrations/legacy_prefix.py
  engine/apps/public_api/serializers/integrations.py
Owners: @grafana/grafana-oncall-backend

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend

/docs @grafana/docs-gops

# `make docs` procedure is owned by @jdbaldry of @grafana/docs-squad.
/.github/workflows/update-make-docs.yml @jdbaldry
/.github/workflows/publish-technical-documentation-next.yml @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml @jdbaldry
/docs/Makefile @jdbaldry
/docs/docs.mk @jdbaldry
/docs/make-docs @jdbaldry
/docs/variables.mk @jdbaldry
