Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-gops, @jdbaldry

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend

/docs @grafana/docs-gops

# `make docs` procedure is owned by @jdbaldry of @grafana/docs-squad.
/.github/workflows/update-make-docs.yml @jdbaldry
/.github/workflows/publish-technical-documentation-next.yml @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml @jdbaldry
/docs/Makefile @jdbaldry
/docs/docs.mk @jdbaldry
/docs/make-docs @jdbaldry
/docs/variables.mk @jdbaldry

add todos
  engine/apps/alerts/migrations/0023_auto_20230718_0953.py
  engine/apps/alerts/migrations/0024_auto_20230718_1042.py
Owners: @grafana/grafana-oncall-backend

public API
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/ordered_model.py
  engine/apps/public_api/serializers/personal_notification_rules.py
  engine/apps/public_api/serializers/routes.py
  engine/common/api_helpers/mixins.py
Owners: @grafana/grafana-oncall-backend

add todo
  engine/requirements.txt
Owners: @grafana/grafana-oncall-backend

wip
  engine/apps/alerts/tasks/check_escalation_finished.py
  engine/apps/alerts/tests/test_check_escalation_finished_task.py
Owners: @grafana/grafana-oncall-backend

fix UI typo
  grafana-plugin/src/pages/integration/Integration.tsx
Owners: @grafana/grafana-oncall-frontend

fix UI typo (#2569)
  grafana-plugin/src/pages/integration/Integration.tsx
Owners: @grafana/grafana-oncall-frontend

move ordered_model to common
  engine/apps/alerts/models/channel_filter.py
  engine/apps/alerts/models/escalation_policy.py
  engine/apps/api/views/channel_filter.py
  engine/apps/api/views/escalation_policy.py
  engine/apps/api/views/user_notification_policy.py
  engine/apps/base/models/user_notification_policy.py
  engine/apps/base/tests/test_ordered_model.py
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/personal_notification_rules.py
  engine/apps/public_api/serializers/routes.py
  engine/common/ordered_model/__init__.py
  engine/common/ordered_model/ordered_model.py
  engine/common/ordered_model/serializer.py
  engine/common/ordered_model/viewset.py
Owners: @grafana/grafana-oncall-backend

migrations
  engine/apps/alerts/migrations/0023_auto_20230718_0953.py
  engine/apps/alerts/migrations/0024_auto_20230718_1042.py
Owners: @grafana/grafana-oncall-backend

Rename outgoing webhooks paragraph
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

Reworked slack login pipeline errors (#2526)
  CHANGELOG.md
  engine/apps/api/tests/test_auth.py
  engine/apps/api/views/auth.py
  engine/apps/social_auth/pipeline.py
  engine/conftest.py
  grafana-plugin/src/containers/Alerts/Alerts.tsx
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

tune heartbeat form a bit
  grafana-plugin/integration-tests/integrations/heartbeat.test.ts
  grafana-plugin/src/containers/IntegrationContainers/IntegrationHeartbeatForm/IntegrationHeartbeatForm.tsx
  grafana-plugin/src/pages/integration/Integration.tsx
Owners: @grafana/grafana-oncall-frontend

test
  engine/apps/api/tests/test_channel_filter.py
  engine/apps/api/tests/test_escalation_policy.py
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/routes.py
  engine/common/ordered_model/viewset.py
Owners: @grafana/grafana-oncall-backend

tests
  engine/apps/api/tests/test_channel_filter.py
  engine/apps/api/tests/test_escalation_policy.py
  engine/apps/public_api/tests/test_escalation_policies.py
  engine/common/ordered_model/serializer.py
Owners: @grafana/grafana-oncall-backend

tests
  engine/apps/public_api/tests/test_escalation_policies.py
  engine/apps/public_api/tests/test_routes.py
  engine/common/ordered_model/serializer.py
Owners: @grafana/grafana-oncall-backend

changelog
  CHANGELOG.md
Owners: none

migrations
  engine/apps/alerts/migrations/0024_auto_20230718_0953.py
  engine/apps/alerts/migrations/0025_auto_20230718_1042.py
Owners: @grafana/grafana-oncall-backend

fix escalation snapshot
  engine/apps/alerts/escalation_snapshot/snapshot_classes/escalation_snapshot.py
  engine/apps/alerts/tests/test_escalation_snapshot.py
Owners: @grafana/grafana-oncall-backend

fix
  engine/apps/public_api/tests/test_escalation_policies.py
Owners: @grafana/grafana-oncall-backend

use OrderedModelSerializer.Meta.fields
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/personal_notification_rules.py
  engine/apps/public_api/serializers/routes.py
  engine/common/ordered_model/serializer.py
Owners: @grafana/grafana-oncall-backend

move tests to common dir
  engine/common/tests/test_ordered_model.py
Owners: @grafana/grafana-oncall-backend

Fix duplicate orders on routes and escalation policies (#2568)
  CHANGELOG.md
  engine/apps/alerts/escalation_snapshot/snapshot_classes/escalation_snapshot.py
  engine/apps/alerts/migrations/0024_auto_20230718_0953.py
  engine/apps/alerts/migrations/0025_auto_20230718_1042.py
  engine/apps/alerts/models/channel_filter.py
  engine/apps/alerts/models/escalation_policy.py
  engine/apps/alerts/tests/test_escalation_snapshot.py
  engine/apps/api/serializers/channel_filter.py
  engine/apps/api/serializers/escalation_policy.py
  engine/apps/api/serializers/user_notification_policy.py
  engine/apps/api/tests/test_channel_filter.py
  engine/apps/api/tests/test_escalation_policy.py
  engine/apps/api/views/channel_filter.py
  engine/apps/api/views/escalation_policy.py
  engine/apps/api/views/user_notification_policy.py
  engine/apps/base/models/user_notification_policy.py
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/personal_notification_rules.py
  engine/apps/public_api/serializers/routes.py
  engine/apps/public_api/tests/test_escalation_policies.py
  engine/apps/public_api/tests/test_routes.py
  engine/common/api_helpers/mixins.py
  engine/common/ordered_model/__init__.py
  engine/common/ordered_model/ordered_model.py
  engine/common/ordered_model/serializer.py
  engine/common/ordered_model/viewset.py
  engine/common/tests/test_ordered_model.py
  engine/requirements.txt
  grafana-plugin/src/containers/ChannelFilterForm/ChannelFilterForm.tsx
  grafana-plugin/src/models/channel_filter.ts
  grafana-plugin/src/models/channel_filter/channel_filter.types.ts
  grafana-plugin/src/models/escalation_policy.ts
  grafana-plugin/src/models/escalation_policy/escalation_policy.types.ts
  grafana-plugin/src/models/notification_policy.ts
  grafana-plugin/src/pages/integration/Integration.tsx
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

outgoing webhooks docs minor updates
  docs/sources/integrations/jira/index.md
  docs/sources/integrations/servicenow/index.md
  docs/sources/integrations/zendesk/index.md
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

Outgoing webhooks docs minor updates (#2572)
  docs/sources/integrations/jira/index.md
  docs/sources/integrations/servicenow/index.md
  docs/sources/integrations/zendesk/index.md
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

modify UI to use pagination parameters returned from API, rather than manually hardcoding page size, calculating total pages, etc
  grafana-plugin/src/components/AlertTemplates/AlertTemplatesForm.tsx
  grafana-plugin/src/components/GTable/GTable.tsx
  grafana-plugin/src/components/Policy/NotificationPolicy.tsx
  grafana-plugin/src/components/Table/Table.tsx
  grafana-plugin/src/components/UsersFilters/UsersFilters.tsx
  grafana-plugin/src/containers/IncidentsFilters/IncidentsFilters.tsx
  grafana-plugin/src/containers/MobileAppConnection/MobileAppConnection.test.tsx
  grafana-plugin/src/containers/PersonalNotificationSettings/PersonalNotificationSettings.tsx
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.ts
  grafana-plugin/src/models/alertgroup/alertgroup.ts
  grafana-plugin/src/models/base_store.ts
  grafana-plugin/src/models/cloud/cloud.ts
  grafana-plugin/src/models/cloud/cloud.types.ts
  grafana-plugin/src/models/escalation_chain/escalation_chain.ts
  grafana-plugin/src/models/escalation_policy/escalation_policy.ts
  grafana-plugin/src/models/filters/filters.ts
  grafana-plugin/src/models/heartbeat/heartbeat.ts
  grafana-plugin/src/models/notification_policy.ts
  grafana-plugin/src/models/schedule/schedule.ts
  grafana-plugin/src/models/slack/slack.ts
  grafana-plugin/src/models/team/team.ts
  grafana-plugin/src/models/telegram_channel/telegram_channel.ts
  grafana-plugin/src/models/types.ts
  grafana-plugin/src/models/user/user.ts
  grafana-plugin/src/models/wait_delay.ts
  grafana-plugin/src/network/index.ts
  grafana-plugin/src/pages/integrations/Integrations.tsx
  grafana-plugin/src/pages/schedules/Schedules.tsx
  grafana-plugin/src/pages/settings/tabs/Cloud/CloudPage.tsx
  grafana-plugin/src/pages/users/Users.tsx
  grafana-plugin/src/state/helpers.ts
  grafana-plugin/src/state/rootBaseStore/index.ts
  grafana-plugin/src/utils/pagination/index.ts
  grafana-plugin/src/utils/pagination/types.ts
Owners: @grafana/grafana-oncall-frontend

fix default_route on integration create/update
  engine/apps/public_api/tests/test_integrations.py
  engine/common/ordered_model/serializer.py
Owners: @grafana/grafana-oncall-backend

fix test
  engine/apps/public_api/tests/test_integrations.py
Owners: @grafana/grafana-oncall-backend

Fix public API integration default route (#2573)
  engine/apps/public_api/tests/test_integrations.py
  engine/common/ordered_model/serializer.py
Owners: @grafana/grafana-oncall-backend

tests WIP
  grafana-plugin/src/components/GTable/GTable.test.tsx
  grafana-plugin/src/components/GTable/__snapshots__/GTable.test.tsx.snap
  grafana-plugin/src/components/Table/Table.test.tsx
  grafana-plugin/src/components/Table/__snapshots__/Table.test.tsx.snap
  grafana-plugin/src/components/UsersFilters/UsersFilters.test.tsx
  grafana-plugin/src/components/UsersFilters/__snapshots__/UsersFilters.test.tsx.snap
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.test.ts
  grafana-plugin/src/models/user/user.test.ts
Owners: @grafana/grafana-oncall-frontend

remove prometheus warnings
  docker-compose.yml
Owners: @grafana/grafana-oncall-backend

Add external mysql and variable for engine port to Dev setup
  Makefile
  dev/.env.dev.example
  dev/.env.mysql.dev
  dev/README.md
  docker-compose-developer.yml
Owners: @grafana/grafana-oncall-backend

WIP
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.test.ts
  grafana-plugin/src/models/alert_receive_channel/alert_receive_channel.ts
  grafana-plugin/src/models/outgoing_webhook_2/outgoing_webhook_2.ts
  grafana-plugin/src/models/user/user.ts
Owners: @grafana/grafana-oncall-frontend

Add slack paginated call with handling rate limit exception, fix sync slack channels
  engine/apps/slack/slack_client/slack_client.py
  engine/apps/slack/tasks.py
  engine/apps/slack/utils.py
Owners: @grafana/grafana-oncall-backend

Update tests
  engine/apps/slack/tests/test_populate_slack_channels.py
Owners: @grafana/grafana-oncall-backend

Check if there is channels ids in cache after restarting channels sync task due to rate limit
  engine/apps/slack/tasks.py
Owners: @grafana/grafana-oncall-backend

Check collected channels before delete channels in slack channels sync task
  engine/apps/slack/tasks.py
Owners: @grafana/grafana-oncall-backend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix slack channels sync (#2571)
  CHANGELOG.md
  engine/apps/slack/slack_client/slack_client.py
  engine/apps/slack/tasks.py
  engine/apps/slack/tests/test_populate_slack_channels.py
  engine/apps/slack/utils.py
Owners: @grafana/grafana-oncall-backend
