Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-oncall

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend
/docs @grafana/docs-oncall

after-merge fixes
  engine/apps/alerts/incident_appearance/renderers/slack_renderer.py
Owners: @grafana/grafana-oncall-backend

Remove unused def render_resolution_notes_for_csv_report
  engine/apps/alerts/models/alert_group.py
Owners: @grafana/grafana-oncall-backend

Remove CHANGELOG.md entry
  CHANGELOG.md
Owners: none

Check stack cluster for insight_logs
  engine/apps/grafana_plugin/helpers/client.py
  engine/common/insight_log/insight_logs_enabled_check.py
Owners: @grafana/grafana-oncall-backend

Add logging
  engine/common/insight_log/insight_logs_enabled_check.py
Owners: @grafana/grafana-oncall-backend

Add default value on the database level to prevent release crash
  engine/apps/alerts/migrations/0010_channelfilter_filtering_term_type.py
  engine/apps/alerts/models/channel_filter.py
  engine/requirements.txt
Owners: @grafana/grafana-oncall-backend

Fix test_notify_user_async_cloud
  engine/apps/mobile_app/tests/test_notify_user.py
Owners: @grafana/grafana-oncall-backend

Roles filtering added to the request of users
  grafana-plugin/src/components/UserGroups/UserGroups.tsx
Owners: @grafana/grafana-oncall-frontend

Chat-ops fix
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

clear tab parameter from url
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

Fix tests
  engine/apps/grafana_plugin/tests/test_app_config.py
  engine/apps/mobile_app/tests/test_notify_user.py
Owners: @grafana/grafana-oncall-backend

Add integrity hash to templates
  engine/apps/integrations/templates/integration_link.html
Owners: @grafana/grafana-oncall-backend

Update heartbeat_link as well
  engine/apps/integrations/templates/heartbeat_link.html
Owners: @grafana/grafana-oncall-backend

Update heartbeat_link.html
  engine/apps/integrations/templates/heartbeat_link.html
Owners: @grafana/grafana-oncall-backend

Update integration_link.html
  engine/apps/integrations/templates/integration_link.html
Owners: @grafana/grafana-oncall-backend

Update heartbeat_link.html
  engine/apps/integrations/templates/heartbeat_link.html
Owners: @grafana/grafana-oncall-backend

Update integration_link.html
  engine/apps/integrations/templates/integration_link.html
Owners: @grafana/grafana-oncall-backend

Refactor get_user_verbal_for_team_for_slack. (#809)
  engine/apps/alerts/incident_appearance/renderers/slack_renderer.py
  engine/apps/alerts/incident_log_builder/incident_log_builder.py
  engine/apps/alerts/models/alert_group.py
  engine/apps/alerts/models/alert_group_log_record.py
  engine/apps/alerts/models/maintainable_object.py
  engine/apps/alerts/models/resolution_note.py
  engine/apps/alerts/tasks/invite_user_to_join_incident.py
  engine/apps/alerts/tests/test_alert_group_renderer.py
  engine/apps/base/models/user_notification_policy_log_record.py
  engine/apps/slack/models/slack_message.py
  engine/apps/slack/scenarios/distribute_alerts.py
  engine/apps/slack/scenarios/escalation_delivery.py
  engine/apps/slack/scenarios/manual_incident.py
  engine/apps/slack/scenarios/notification_delivery.py
  engine/apps/slack/scenarios/resolution_note.py
  engine/apps/slack/scenarios/schedules.py
  engine/apps/slack/scenarios/step_mixins.py
  engine/apps/slack/tests/test_scenario_steps/test_resolution_note.py
  engine/apps/telegram/tests/test_message_renderer.py
  engine/apps/user_management/models/user.py
Owners: @grafana/grafana-oncall-backend

Email and phone limits now environment variable (#1219)
  CHANGELOG.md
  docs/sources/open-source/_index.md
  engine/apps/user_management/subscription_strategy/free_public_beta_subscription_strategy.py
  engine/settings/base.py
  helm/oncall/templates/_env.tpl
Owners: @grafana/docs-oncall, @grafana/grafana-oncall-backend

Prohibit creating & updating past overrides in internal API
  engine/apps/api/serializers/on_call_shifts.py
Owners: @grafana/grafana-oncall-backend

Add test
  engine/apps/api/tests/test_oncall_shift.py
Owners: @grafana/grafana-oncall-backend

Update changelog
  CHANGELOG.md
Owners: none

Remove OSS_INSTALATION env var (#881)
  dev/.env.dev.example
  engine/apps/api/serializers/user.py
  engine/apps/api/tests/test_features.py
  engine/apps/api/views/features.py
  engine/apps/api/views/user.py
  engine/apps/grafana_plugin/apps.py
  engine/apps/grafana_plugin/tests/test_app_config.py
  engine/apps/mobile_app/tasks.py
  engine/apps/mobile_app/tests/test_notify_user.py
  engine/engine/urls.py
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend

Chore: add integrity hash to templates (#1473)
  engine/apps/integrations/templates/heartbeat_link.html
  engine/apps/integrations/templates/integration_link.html
Owners: @grafana/grafana-oncall-backend

Rework alert group mine filter query (#1466)
  engine/apps/api/views/alert_group.py
Owners: @grafana/grafana-oncall-backend

Chat-ops fix (#1472)
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Release oncall Helm chart 1.1.33
  helm/oncall/Chart.yaml
Owners: @grafana/grafana-oncall-backend

direct user paging improvements
  grafana-plugin/src/components/ManualAlertGroup/ManualAlertGroup.config.ts
  grafana-plugin/src/components/ManualAlertGroup/ManualAlertGroup.tsx
  grafana-plugin/src/components/PluginLink/PluginLink.tsx
  grafana-plugin/src/containers/EscalationVariants/EscalationVariants.module.scss
  grafana-plugin/src/containers/EscalationVariants/EscalationVariants.tsx
  grafana-plugin/src/containers/EscalationVariants/parts/EscalationVariantsPopup.tsx
  grafana-plugin/src/containers/UserWarningModal/UserWarning.module.scss
  grafana-plugin/src/containers/UserWarningModal/UserWarning.tsx
  grafana-plugin/src/pages/incident/Incident.module.scss
  grafana-plugin/src/pages/incident/Incident.tsx
  grafana-plugin/src/pages/incident/parts/PagedUsers.tsx
Owners: @grafana/grafana-oncall-frontend

use disabled text for disabled items
  grafana-plugin/src/containers/EscalationVariants/EscalationVariants.tsx
Owners: @grafana/grafana-oncall-frontend

Update changelog
  CHANGELOG.md
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Prohibit creating & updating past overrides (#1474)
  CHANGELOG.md
  engine/apps/api/serializers/on_call_shifts.py
  engine/apps/api/tests/test_oncall_shift.py
Owners: @grafana/grafana-oncall-backend

Add validation
  engine/apps/api/serializers/channel_filter.py
  grafana-plugin/src/containers/ChannelFilterForm/ChannelFilterForm.tsx
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

Add better comment
  engine/apps/alerts/migrations/0010_channelfilter_filtering_term_type.py
Owners: @grafana/grafana-oncall-backend

Store org cluster_slug
  engine/apps/grafana_plugin/helpers/gcom.py
  engine/apps/grafana_plugin/views/self_hosted_install.py
  engine/apps/user_management/models/organization.py
  engine/apps/user_management/sync.py
Owners: @grafana/grafana-oncall-backend

Add migration
  engine/apps/user_management/migrations/0009_organization_cluster_slug.py
Owners: @grafana/grafana-oncall-backend

Add tests
  docs/sources/integrations/available-integrations/configure-grafana-alerting/index.md
  docs/sources/integrations/chatops-integrations/configure-teams/index.md
  engine/apps/alerts/tests/test_channel_filter.py
  grafana-plugin/integration-tests/utils/integrations.ts
Owners: @grafana/docs-oncall, @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

Fix tests
  engine/apps/grafana_plugin/tests/test_self_hosted_install.py
  engine/apps/user_management/sync.py
Owners: @grafana/grafana-oncall-backend

Update SELF_HOSTED_SETTINGS
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend
