Repository grafana/oncall, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend, @grafana/docs-gops, @jdbaldry

.github/CODEOWNERS:

* @grafana/grafana-oncall-backend

# don't tag @grafana/grafana-oncall-backend on changes to CHANGELOG.md
CHANGELOG.md

/grafana-plugin @grafana/grafana-oncall-frontend

/docs @grafana/docs-gops

# `make docs` procedure is owned by @jdbaldry of @grafana/docs-squad.
/.github/workflows/update-make-docs.yml @jdbaldry
/.github/workflows/publish-technical-documentation-next.yml @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml @jdbaldry
/docs/Makefile @jdbaldry
/docs/docs.mk @jdbaldry
/docs/make-docs @jdbaldry
/docs/variables.mk @jdbaldry

Release oncall Helm chart 1.3.15
  helm/oncall/Chart.yaml
Owners: @grafana/grafana-oncall-backend

deleted conosole logs
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.tsx
Owners: @grafana/grafana-oncall-frontend

fix migrations that were causing issues
  engine/apps/alerts/migrations/0022_alter_alertgroup_manual_severity.py
  engine/apps/alerts/migrations/0023_auto_20230718_0952.py
  engine/apps/alerts/migrations/0026_auto_20230719_1010.py
  engine/apps/alerts/models/alert_group.py
Owners: @grafana/grafana-oncall-backend

fix migrations that were causing issues (#2581)
  engine/apps/alerts/migrations/0022_alter_alertgroup_manual_severity.py
  engine/apps/alerts/migrations/0023_auto_20230718_0952.py
  engine/apps/alerts/migrations/0026_auto_20230719_1010.py
  engine/apps/alerts/models/alert_group.py
Owners: @grafana/grafana-oncall-backend

add heartbeat integration test
  grafana-plugin/integration-tests/integrations/heartbeat.test.ts
  grafana-plugin/src/containers/IntegrationContainers/IntegrationHeartbeatForm/IntegrationHeartbeatForm.tsx
  grafana-plugin/src/pages/integration/Integration.tsx
Owners: @grafana/grafana-oncall-frontend

improve heartbeat test a bit
  grafana-plugin/integration-tests/integrations/heartbeat.test.ts
  grafana-plugin/src/containers/IntegrationContainers/IntegrationHeartbeatForm/IntegrationHeartbeatForm.tsx
Owners: @grafana/grafana-oncall-frontend

enable heartbeat test
  grafana-plugin/integration-tests/integrations/heartbeat.test.ts
Owners: @grafana/grafana-oncall-frontend

Fix Slack direct paging issue when there's >100 schedules
  engine/apps/slack/scenarios/paging.py
  engine/apps/slack/tests/test_scenario_steps/test_manage_responders.py
Owners: @grafana/grafana-oncall-backend

changelog
  CHANGELOG.md
Owners: none

Remove docker-compose warnings (#2574)
  docker-compose.yml
Owners: @grafana/grafana-oncall-backend

Fix Slack direct paging issue when there are >100 schedules (#2594)
  CHANGELOG.md
  engine/apps/slack/scenarios/paging.py
  engine/apps/slack/tests/test_scenario_steps/test_manage_responders.py
Owners: @grafana/grafana-oncall-backend

Add note about Legacy webhooks
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

add ShiftSwapRequest model + internal API CRUD endpoints
  Makefile
  engine/apps/api/permissions.py
  engine/apps/api/serializers/shift_swap.py
  engine/apps/api/tests/test_permissions.py
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/api/urls.py
  engine/apps/api/views/shift_swap.py
  engine/apps/shift_swaps/__init__.py
  engine/apps/shift_swaps/exceptions.py
  engine/apps/shift_swaps/migrations/0001_initial.py
  engine/apps/shift_swaps/migrations/__init__.py
  engine/apps/shift_swaps/models/__init__.py
  engine/apps/shift_swaps/models/shift_swap_request.py
  engine/apps/shift_swaps/tasks.py
  engine/apps/shift_swaps/tests/__init__.py
  engine/apps/shift_swaps/tests/factories.py
  engine/apps/shift_swaps/tests/test_shift_swap_request.py
  engine/apps/webhooks/__init__.py
  engine/common/tests/test_ordered_model.py
  engine/conftest.py
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend

fix mypy error
  engine/apps/api/views/shift_swap.py
Owners: @grafana/grafana-oncall-backend

add insight logs methods
  engine/apps/shift_swaps/models/shift_swap_request.py
Owners: @grafana/grafana-oncall-backend

modify insight_logs_serialized
  engine/apps/shift_swaps/models/shift_swap_request.py
Owners: @grafana/grafana-oncall-backend

add remaining insight logs stuff
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/api/views/shift_swap.py
Owners: @grafana/grafana-oncall-backend

doc page
  docs/sources/integrations/manual/index.md
Owners: @grafana/docs-gops

update links
  engine/apps/slack/scenarios/paging.py
  grafana-plugin/src/components/ManualAlertGroup/ManualAlertGroup.tsx
Owners: @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

Slack docs
  docs/sources/integrations/manual/index.md
  docs/sources/notify/slack/index.md
Owners: @grafana/docs-gops

changelog
  CHANGELOG.md
Owners: none

add link to team management
  docs/sources/integrations/manual/index.md
Owners: @grafana/docs-gops

Improve wording
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

Add note about Legacy webhooks (#2595)
  docs/sources/outgoing-webhooks/_index.md
Owners: @grafana/docs-gops

Update direct paging docs (#2600)
  CHANGELOG.md
  docs/sources/integrations/manual/index.md
  docs/sources/notify/slack/index.md
  engine/apps/slack/scenarios/paging.py
  grafana-plugin/src/components/ManualAlertGroup/ManualAlertGroup.tsx
Owners: @grafana/docs-gops, @grafana/grafana-oncall-backend, @grafana/grafana-oncall-frontend

allowing storing/updating time_zone in mobile app user settings table
  engine/apps/mobile_app/migrations/0010_mobileappusersettings_time_zone.py
  engine/apps/mobile_app/models.py
  engine/apps/mobile_app/serializers.py
  engine/apps/mobile_app/tasks.py
  engine/apps/mobile_app/tests/test_user_settings.py
  engine/apps/mobile_app/tests/test_your_going_oncall_notification.py
Owners: @grafana/grafana-oncall-backend

internal API cleanup
  engine/apps/api/views/alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

update changelog
  CHANGELOG.md
Owners: none

internal API test
  engine/apps/api/tests/test_alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

public API + tests
  engine/apps/api/tests/test_alert_receive_channel.py
  engine/apps/public_api/serializers/integrations.py
  engine/apps/public_api/tests/test_integrations.py
Owners: @grafana/grafana-oncall-backend

tests
  engine/apps/alerts/models/alert_receive_channel.py
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/tests/test_alert_receive_channel.py
  engine/apps/api/views/alert_receive_channel.py
  engine/apps/public_api/serializers/integrations.py
  engine/apps/public_api/tests/test_integrations.py
  engine/common/api_helpers/exceptions.py
Owners: @grafana/grafana-oncall-backend

tests
  engine/apps/api/serializers/alert_receive_channel.py
  engine/apps/api/tests/test_alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

org
  engine/apps/alerts/models/alert_receive_channel.py
Owners: @grafana/grafana-oncall-backend

address PR comments
  engine/apps/api/tests/test_shift_swaps.py
  engine/apps/api/urls.py
  engine/apps/api/views/shift_swap.py
  engine/apps/shift_swaps/models/shift_swap_request.py
  engine/apps/shift_swaps/tests/test_shift_swap_request.py
  engine/settings/base.py
Owners: @grafana/grafana-oncall-backend

changelog
  CHANGELOG.md
Owners: none

allowing storing/updating time_zone in mobile app user settings table (#2601)
  CHANGELOG.md
  engine/apps/mobile_app/migrations/0010_mobileappusersettings_time_zone.py
  engine/apps/mobile_app/models.py
  engine/apps/mobile_app/serializers.py
  engine/apps/mobile_app/tasks.py
  engine/apps/mobile_app/tests/test_user_settings.py
  engine/apps/mobile_app/tests/test_your_going_oncall_notification.py
Owners: @grafana/grafana-oncall-backend

test for rendering warning alert
  grafana-plugin/src/pages/settings/tabs/ChatOps/ChatOps.test.tsx
Owners: @grafana/grafana-oncall-frontend

added all queries to incident page
  grafana-plugin/src/pages/incident/Incident.tsx
  grafana-plugin/src/pages/incidents/Incidents.tsx
Owners: @grafana/grafana-oncall-frontend

Remove unnecessary team checks
  engine/apps/public_api/serializers/escalation_policies.py
  engine/apps/public_api/serializers/routes.py
  engine/apps/public_api/serializers/schedules_calendar.py
  engine/apps/public_api/serializers/schedules_web.py
Owners: @grafana/grafana-oncall-backend

terraform readme typo + changelog
  CHANGELOG.md
  terraform/README.md
Owners: @grafana/grafana-oncall-backend
